/***********************************
  My Custom brown Color
***********************************/
.custom-gray.lighten-5 {
  background-color: #F3F3F3 !important;
}

.custom-gray.lighten-4 {
  background-color: #CECDCC !important;
}

.custom-gray.lighten-3 {
  background-color: #B3B1AF !important;
}

.custom-gray.lighten-2 {
  background-color: #908E8B !important;
}

.custom-gray.lighten-1 {
  background-color: #817E7B !important;
}

.custom-gray {
  background-color: #716F6C !important;
}

.custom-gray-text {
  color: #716F6C !important;
}

.custom-gray.darken-1 {
  background-color: #61605D !important;
}

.custom-gray.darken-2 {
  background-color: #52504E !important;
}

.custom-gray.darken-3 {
  background-color: #42413F !important;
}

.custom-gray.darken-4 {
  background-color: #323230 !important;
}

.custom-gray.accent-1 {
  background-color: #F3F3F3 !important;
}

.custom-gray.accent-2 {
  background-color: #CECDCC !important;
}

.custom-gray.accent-3 {
  background-color: #817E7B !important;
}

.custom-gray.accent-4 {
  background-color: #52504E !important;
}

/***********************************
  My Custom Brown Color
***********************************/
.custom-brown.lighten-5 {
  background-color: #FFFFFF !important;
}

.custom-brown.lighten-4 {
  background-color: #FFFFFF !important;
}

.custom-brown.lighten-3 {
  background-color: #FFFFFF !important;
}

.custom-brown.lighten-2 {
  background-color: #FFFFFF !important;
}

.custom-brown.lighten-1 {
  background-color: #FAF9F7 !important;
}

.custom-brown {
  background-color: #EEEAE4 !important;
}

.custom-brown-text {
  color: #EEEAE4 !important;
}

.custom-brown.darken-1 {
  background-color: #E2DBD1 !important;
}

.custom-brown.darken-2 {
  background-color: #D6CDBE !important;
}

.custom-brown.darken-3 {
  background-color: #CBBEAC !important;
}

.custom-brown.darken-4 {
  background-color: #BFB099 !important;
}

.custom-brown.accent-1 {
  background-color: #FFFFFF !important;
}

.custom-brown.accent-2 {
  background-color: #FFFFFF !important;
}

.custom-brown.accent-3 {
  background-color: #FAF9F7 !important;
}

.custom-brown.accent-4 {
  background-color: #D6CDBE !important;
}