body, html
{
    background-color: #EDEDED !important;
}

.intro
{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 50px;
}

.intro h1
{
    font-weight: 900;
    text-transform: uppercase;
}

.intro h5
{
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    font-size: 1.2rem;
}

/* Navbar */
@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 56px;
    line-height: 56px;
  }
  .navbar-fixed {
    height: 56px;
  }
}

.brand-logo {
    height: 100%;
}

.brand-logo img {
    max-height: 1.2em;
}

.brand-logo, .button-collapse {
    margin-left: .5em;
    margin-right: .5em;
}

#nav-links-internal {
    width: 100%;
    text-align: center;
}

#nav-links-internal li {
    float: none;
    display: inline-block;
}

#nav-links-internal li a {
    font-weight: 300;
}

#nav-links-external {
    position: absolute;
    padding: 0 1em 0 1em;
    right: 0;
}

#nav-links-external a {
    font-size: 1.2em;
}

#nav-links-external i {
    padding: 0 1em 0 1em;
}

#landing-logo {
    max-width: 100%;
    height: auto;
    width: 50%;
}

.valign-wrapper {
    height: 100%;
}

#main-footer {
    position: absolute;
    height: 28px;
    width: 100%;
    bottom: 0;
}

#main-footer {
    position: absolute;
    height: 28px;
    width: 100%;
    bottom: 0;
}
