html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    font-weight: 300;
    font-size: 4vw;
}

#body-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 28px;
    position: relative;
}

.banner {
    text-transform: uppercase;
    width: 100%;
    margin-top: 10vw;
}

.banner .title {
    font-weight: 900;
    font-size: 15.3vw;
}

.banner .title#contact-me {
    font-size: 14.2vw;
 }

.banner .subtitle {
    font-weight: 300;
    font-size: 4.25vw;
}

@media only screen and (min-width: 601px) {
    /* 85 % */
    .banner .title {
        font-size: 15.3vw;
    }

    .banner .title#contact-me {
        font-size: 13.4vw;
    }

    .banner .subtitle {
        font-size: 4.25vw;
    }

    .body {
        font-size: 2.5vw;
    } 
}

@media only screen and (min-width: 993px) {
    .banner .title {
        font-size: 9vw;
    }

    .banner .title#contact-me {
        font-size: 7.9vw;
    }

    .banner .subtitle {
        font-size: 2.5vw;
    }

    .body {
        font-size: 1.5vw;
    }
}

.banner div {
    line-height: .8em;
}

a.btn-floating {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 16px 44px 16px;
}

footer {
    bottom: 0;
    height: 28px;
    left: 0;
    position: absolute;
    width: 100%;
}

footer span {
    font-weight: 300;
    font-size: .8em;
    margin-left: .5em;
}