/* Navbar */
@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 56px;
    line-height: 56px;
  }
  .navbar-fixed {
    height: 56px;
  }
}

.brand-logo {
    height: 100%;
}

.brand-logo img {
    max-height: 1.5em;
}

.brand-logo, .button-collapse {
    margin-left: .5em;
    margin-right: .5em;
}

#nav-links-internal {
    width: 100%;
    text-align: center;
}

#nav-links-internal li {
    float: none;
    display: inline-block;
}

#nav-links-internal li a {
    font-weight: 300;
}

#nav-links-external {
    position: absolute;
    padding: 0 1em 0 1em;
    right: 0;
}

#nav-links-external a {
    font-size: 1.2em;
}

#nav-links-external i:hover {
    transition: background-color .3s;
    background-color: rgba(0, 0, 0, 0.1);
}

#nav-links-external i {
    transition: background-color .3s;
    padding: 0 1em 0 1em;
}