.project {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .project-description {
        float:right;

        h1 {
            width: 100%;
            text-align: center;
            font-weight: 900;
            font-size: 2rem;
            margin-bottom: 0;

            @media only screen and (min-width: $screen-small) {
                text-align: right;
                font-size: 2.5rem;
            }

            @media only screen and (min-width: $screen-medium) {
                font-size: 3rem;
            }
        }

        p {
            font-weight: 300;
            text-align: center;
            font-size: 15px;
            margin-top: .5em;

            @media only screen and (min-width: $screen-small) {
                text-align: right;
                font-size: 17px;
            }

            @media only screen and (min-width: $screen-medium) {
                font-size: 19px;
            }
        }

        a {
            color: inherit;
        }

        .links {
            text-align: right;
            font-size: 17px;

            div {
                padding: 4px;
            }

            i {
                padding-right: 8px;
            }
        }
    }

    .project-img {
        text-align: center;

        img {
            margin-top: 2.5vw;
            max-width: 100%;
            height: auto;
        }

        .shadow {
            -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
        }
    }
}

.project-alt{
    @extend .project;

    .project-description {
        float: left;

        h1 {
            @media only screen and (min-width: $screen-small) {
                text-align: left;
            }
        }

        p {
            @media only screen and (min-width: $screen-small) {
                text-align: left;
            }
        }

        .links {
            text-align: left;
        }
    }
}