@import 'media-sizes';



/* **************** *\

    #Body

\* **************** */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 28px;
    position: relative;
}



/* **************** *\

    #Banner

\* **************** */

.banner {
    text-transform: uppercase;
    text-align: right;
    width: 100%;
    margin-top: 10vw;

    div {
        line-height: .8em;
    }
}

.banner-title {
    font-weight: 900;
    font-size: 15.3vw;

    @media only screen and (min-width: $screen-medium) {
        font-size: 9vw;
    }
}

.banner-subtitle {
    font-weight: 300;
    font-size: 4.25vw;

    @media only screen and (min-width: $screen-medium) {
        font-size: 2.5vw;
    }
}




/* **************** *\

    #Util

\* **************** */

.center-when.small {
    @media only screen and (max-width: $screen-small - 1) {
        width: 100%;
        margin-left: 0;
        left: auto;
        right: auto;
        text-align: center;
    }
}

.center-when.medium {
    @media only screen and (max-width: $screen-medium - 1) {
        width: 100%;
        margin-left: 0;
        left: auto;
        right: auto;
        text-align: center;
    }
}