@import 'media-sizes';

@import 'project';

.table-of-contents {
    top: 0;
    position: fixed;
    display: block;
    margin-top: 250px;
    padding-top: 45px;
}

.table-of-contents {
    a {
        display: inline-block;
        font-weight: 300;
        color: #716F6C;
        padding-left: 20px;
        height: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: .4;
        display: inline-block;
    }

    a:hover {
        color: #716F6C;
        padding-left: 19px;
        border-left: 1px solid #716F6C;
    }

    a.active {
        font-weight: 500;
        padding-left: 18px;
        border-left: 2px solid #716F6C;
    }
}

.objective {
	padding-top: 2.5rem;
    padding-bottom: 1rem;

    .objective-description {
        float:left;

        h1 {
            width: 100%;
            text-align: left;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 10vw;
            margin-bottom: 0;

            @media only screen and (min-width: $screen-small) {
                font-size: 7vw;
            }

            @media only screen and (min-width: $screen-medium) {
                font-size: 3.9rem;
            }

            @media only screen and (min-width: 1280px) {
                font-size: 4rem;
            }
        }

        p {
            font-weight: 300;
            text-align: left;
            font-size: 15px;
            margin-top: .5em;

            @media only screen and (min-width: $screen-small) {
                font-size: 17px;
            }

            @media only screen and (min-width: $screen-medium) {
                font-size: 19px;
            }
        }
    }
}

.objective-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 85%;

    @media only screen and (max-width: 1280px) {
        width: 85%;
    }
}

@import 'footer';