@import 'media-sizes';

.banner-title {
    font-size: 14.2vw;

    @media only screen and (min-width: $screen-small) {
        font-size: 10.2vw;
    }

    @media only screen and (min-width: $screen-medium) {
        font-size: 8.3vw;
    }

    @media only screen and (min-width: 1280px) {
        font-size: 8vw;
    }
 }

.project {

    .project-description {
        h1 {
            width: 100%;
            font-weight: 900;
            font-size: 2rem;
            margin-bottom: 0;

            @media only screen and (min-width: $screen-small) {
                text-align: right;
                font-size: 2.5rem;
            }

            @media only screen and (min-width: $screen-medium) {
                font-size: 3rem;
            }
        }

        p {
            font-weight: 300;
            font-size: 15px;
            margin-top: .5em;

            @media only screen and (min-width: $screen-small) {
                text-align: right;
                font-size: 17px;
            }

            @media only screen and (min-width: $screen-medium) {
                font-size: 19px;
            }
        }
    }
    

    .project-img {

    }
}

@import 'footer';